<form class="form" action="/add" method="post">

  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="">
  </label>

  <label for="email" class="form-item">
    email:
    <input type="text" name="email" value="">
  </label>

  <label for="bio" class="form-item">
    bio:
    <input type="text" name="bio" value="">
  </label>

  <label for="url" class="form-item">
    url:
    <input type="text" name="url" value="">
  </label>

  <label for="img" class="form-item">
    img:
    <input type="text" name="img" value="">
  </label>

  <input type="submit" name="" value="Submit">
</form>
