<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>
    {{#each users}}
      <li> <a href="/{{id}}" >{{name}} </a> ({{email}})</li>
    {{/each}}
    </ul>
  </br>
  <a href="/add">Add</a>
  </body>
</html>
